.about-container h1{
    padding: 5px 10px 0 0;
}
.about-container p, ul{
    margin-bottom: 30px;
}
.about-container ul{
    padding-left:5px ;
    list-style-position: inside;
}
.about-container li {
    padding-left: 20px; /* adjust the value to match your bullet size */
    text-indent: -20px; /* adjust the value to match your bullet size */
  }
  @media screen and (max-width: 600px) {
    .about-container h1{
        font-size: 24px;
    }
    .about-container p, .about-container li{
        font-size: 14px;
    }
  }