.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.footer-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer-top-title p {
  color: #949292;
}

.footer-media svg {
  margin-right: 10px;
  padding: 10px 0;
  font-size: 30px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.f-b-content h4 {
  font-size: 1em;
  color: #cac8c8;
  padding: 0 0 5px 0;
}
.f-b-content {
  padding: 10px 0;
}
.f-b-content p {
  font-size: 1em;
  line-height: 1.5;
  color: #949292;
}
@media screen and (max-width: 700px) {
    .footer-top{
        flex-direction: column;
  }
  .footer-media svg {
    font-size: 20px;
  }
  .footer-bottom {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
}
