.container {
  padding-inline: 8vw;
  /* position: relative;
    z-index: -2; */
}
.main {
  padding-block: 3vw;
}
.section {
  margin-bottom: 40px;
}
@import "./styles/NavBar.css";
@import "./styles/Hero.css";
@import "./styles/Destination.css";
