.container {
  padding-inline: 6vw;
}
.main {
  padding-block: 3vw;
}
.section {
  margin-bottom: 40px;
}
p{
  line-height: 1.5;
}
@media screen and (max-width: 500px) {
  .container {
    padding-inline: 4vw;
  }
}
@import "./styles/NavBar.css";
@import "./styles/Hero.css";
@import "./styles/Destination.css";
@import './styles/RecentTrips.css';
@import './styles/About.css';
@import './styles/Contact.css';
@import "./styles/Footer.css";

